{% extends "base.html" %}

{% block title %} Editar de produtos {%  endblock title %}

{% block content %} 
    <div class="row">
        <div class="col-sm-8 offset-2">
            <h1 class="text-center alert alert-info">Atualizar produto</h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} fade show" role="alert" id="msg">
                        {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span
                    </button>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Atualizar" class="btn btn-success">
                <a href="{% url 'home'%}"class="btn btn-light btn-sm">voltar</a>
            </form>
        </div>
    </div>
{% endblock content %}
